.kontejner {
    -fx-background-color: rgba(255,255, 255, 0.4);
    -fx-padding:  0 0 0 10;
}

.nadpis {
    -fx-font-size: 18;
    -fx-font-family: "Franklin Gothic Medium";
}

.velky-nadpis {
    -fx-font-size: 24;
    -fx-font-family: "Franklin Gothic Medium";
}

.text {
    -fx-font-size: 18;
    -fx-font-family: "Franklin Gothic Medium";
    -fx-padding: 5px;
}

#jmenoPostavy {
    -fx-font-size: 16;
    -fx-font-family: "Franklin Gothic Medium";
}

#polozka {
    -fx-font-family: "Franklin Gothic Medium";
}

#polozka:hover {
    -fx-background-color: rgba(255,255, 255, 0.7);
}

.button {
    -fx-font-family: "Franklin Gothic Medium";
    -fx-end-margin: 10;
}